# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ransh project\Homekart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
